body {
  padding: 10vh 15vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../background2.jpg); */
background: url(../bg\ web.png);
    
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}
.header {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3vw;
  color: #fff;
}
.header2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2vw;
}
#form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
#radio {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}
#box1 {
  display: flex;
  flex-direction: column;
  margin: 5vh auto 0.5vh auto;
  width: 40vw;
  background-color: rgb(248, 238, 222);
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  border-radius: 20px;
  box-shadow: 11px 11px 30px -2px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 11px 11px 30px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 11px 11px 30px -2px rgba(0, 0, 0, 0.66);
}
#box2 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: rgb(248, 238, 222);
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  border-radius: 20px;
  box-shadow: 11px 11px 30px -2px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 11px 11px 30px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 11px 11px 30px -2px rgba(0, 0, 0, 0.66);
}
.inputGroup {
  margin: 1em 0 1em 0;
  width: 30vw;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0 0.4em;
  background-color: rgb(248, 238, 222);
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(71, 116, 199);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
}
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  margin: 2.5vh auto 0 auto;
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 3vw;
  }
  .header {
    font-size: 5vw;
  }
  .header2 {
    font-size: 4vw;
  }
  #box1,
  #box2 {
    width: 70vw;
  }
  .inputGroup {
    width: 50vw;
  }
  input[type="radio"] {
    transform: scale(1.5);
  }
  #radio {
    gap: 5vw;
  }
}

@media screen and (max-width: 576px) {
  body{
    font-size: 4vw;

  }
  .header {
    font-size: 10vw;
  } 
  .header2{
    font-size: 7vw;
  }
  input[type="radio"] {
    transform: scale(1);
  }
  #radio {
    gap: 4 vw;
  }
}
